<body style="background: linear-gradient(to right, #9E00E5, #00BFBB);">

<% @users.each do |user| %>
	<h3 class="name"><%= user.full_name %></h3>
	<h5 class="recents">Recent comments:</h5>
	<% if user.comments.count == 0 %>
		<p class="comment-post"> <%= user.first_name %> has no comments :(</p>
	<% end %>
	<% user.comments.order(created_at: :desc).limit(3).each do |comment| %>
		<p class="comment-post"><%= link_to comment.content, comment.post %></p>
	<% end %>
<% end %>

