// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up {
	border-right: 1px solid cyan;
	padding-right: 5px;
}

.login-form {
	margin: 20px;
	display: flex;
	justify-content: center;
}

.login-email {
	margin: 0 15px;
}

.login-password{
	margin: 0 15px;
}

.sign-in {
	text-align: center;
}